# EmailJS Configuration
EXPO_PUBLIC_EMAILJS_SERVICE_ID=your_service_id_here
EXPO_PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key_here
EXPO_PUBLIC_EMAILJS_TEMPLATE_UNIVERSAL=your_universal_template_id
EXPO_PUBLIC_EMAILJS_TEMPLATE_FEEDBACK=your_feedback_template_id

# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project_id.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
EXPO_PUBLIC_FIREBASE_APP_ID=your_app_id
EXPO_PUBLIC_FCM_VAPID_KEY=your_vapid_key_public

# SendGrid Configuration
SENDGRID_API_KEY=SG.your_sendgrid_api_key
ADMIN_UID=your_admin_uid

# Google Auth
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your_android_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_client_id.apps.googleusercontent.com


# Development Settings
EXPO_PUBLIC_USE_EMULATORS=false
EXPO_PUBLIC_REDIRECT_URI=
EXPO_PUBLIC_GOOGLE_EMULATOR_PASSWORD=google-emulator-pass
